.popover-info {
  max-width: 380px;
  /* background-color: #eceff1; */
}

.popover-info .body {
  font-size: 12px;
}

.popover-info span {
  cursor: pointer;
  color: #007bff;
}

.popover-info span:hover {
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(235, 227, 227);
}

.weburl {
  overflow: hidden !important;
}
